<!DOCTYPE HTML>
<html>
<head>
<title>The Transparent-Uikit Website Template | Home :: w3layouts</title>
<link href="/css/style-pr.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="logo">
        <a href="/">
                <img src="/images/logo-pr.gif" alt="travel html5 template" title="travel html5 template">
        </a>
    </div>
<div class="wrap">
    <!-- start grids_of_3 -->
    <div class="grids_of_3">
        <div class="grid1_of_3">
            <div class="grid_img">
                <img src="/images/pic1.jpg" alt=""/>
                        <div  class="list_top">
                            <h4 id="username"><%=user.username%></h4>
                        </div>
            </div>
            <div class="menu_box_list">
                <ul>

                    <li class="new"><a href="#"><span>NEW PROJECT</span> <i class="settings"> </i><div class="clear"></div> </a></li>
                    <li class="sport"><a href="#"><span>PROJECT1</span> <i class="location"> </i><div class="clear"></div> </a></li>
                    <li class="buisness"><a href="#"><span>PROJECT2</span> <i class="favorite"> </i><div class="clear"></div> </a></li>
                <li class="study"><a href="#"><span>PROJECT3</span> <i class="food"> </i><div class="clear"></div> </a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid1_of_3 left main">
            <div class="btn_style bg">

                <h4>MY PROFILE</h4>

            </div>
            <div class="friends_form">

            </div>
            <div class="login_form">
            </div>
            <div class="news_form">

            </div>
            <div class="footer">
                <p class="link">© All rights reserved | Template by&nbsp;<a href="/"> TUNATEAM</a></p>
            </div>

        </div>



    </div>
</div>
</body>
</html>
