
<!DOCTYPE html>
<html>
<head>
	<title>2NAPP</title>
	<meta charset="utf-8" />
	<link href="css/media.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="icon" href="images/favicon22.ico" type="image/x-icon">
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/index_login.js"></script>
</head>
<body>
	<div class="header">
		<div class="banner-center">
			<div class="logo">
				<a href="/index.html">
					<img src="images/logo.gif" alt="travel html5 template" title="travel html5 template">
				</a>
			</div>
		</div>
			<div style="font-size:45px;"><%=message%></div>
			<div style="font-size:25px;"><%=error.status%></div>
			<pre style="font-size:15px;padding:15px;background-color:white;"><%=error.stack%></pre>
	</div>
	<!--//header-->
	</body>
	</html>
